<h1>Todo List</h1>
<h2>django template</h2>


<table>
    <thead>
      <tr>
        <th>이름</th>
        <th>설명</th>
        <th>완료 여부</th>
        <th>생성 날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
        <tr>
          <td>{{ todo.name }}</td>
          <td>
            {% if todo.description %}
                {{ todo.description }}
            {% else %}
                No description
            {% endif %}
          </td>
          <td>
            {{ todo.complete }}
            <!-- {% if todo.complete %}
              <i class="fas fa-check"></i>
            {% else %}
              <i class="fas fa-circle"></i>
            {% endif %} -->
          </td>
          <td>{{ todo.created_at|date:"F d, Y" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>