
{% extends "base.html" %}

{% block content %}

    <h1>Todo Update</h1>

    <div class="container">
        <h2>Update Your Todo</h2>
    
            <div>
                <label for="name">이름:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
    
            <div>
                <label for="description">설명:</label>
                <textarea class="form-control" id="description" name="description" rows="5"></textarea>
            </div>
    
            <div>
                <label for="complete">완료 여부:</label>
                <input type="checkbox" class="form-control" id="complete" name="complete">
            </div>
    
            <div>
                <label for="exp">경험치:</label>
                <input type="number" class="form-control" id="exp" name="exp" min="0" required>
            </div>
            
            <div class="btnlist">
                <button type="submit" id="todoUpdate" class="todoUpdate">Todo Update</button>
                <button class="todoList" onclick="toList()">목록</button>
            </div>

    </div>


    <script>

        // 페이지 로드시 값을 넣어준다

        $(document).ready(function(){
            let pk = window.location.href.split('/').filter(Boolean).pop()
            axiosInstance.get(`api/todo/${pk}/`)
            .then(
                function(response){
                    todo = response.data;
                    $("#name").val(todo.name)
                    $("#description").val(todo.description)
                    $("#complete").prop("checked", todo.complete)
                    $("#exp").val(todo.exp)
                }
            )
        })


        // 버튼이 클릭된다면
        
        $("#todoUpdate").on("click", function(){
            let pk = window.location.href.split('/').filter(Boolean).pop();
            // alert($("#complete").val());
            axiosInstance.patch(`/api/todo/${pk}/`, {
                name : $("#name").val(),
                description: $("#description").val(),
                complete: $("#complete").prop("checked"),
                exp: $("#exp").val(),

            })
            .then(function(response) {
                window.location.href = `/todo/${pk}/`;
            })
            .catch(function(error) {
                console.log(error);
                alert("Todo 수정에 실패했습니다.");
            })

        })
        
        // 목록이 클릭된다면

        function toList(){
            window.location.href = `/todo/list/`;
        }

    </script>

{% endblock %}
